.card-list {
    width: 85vw;
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .underline {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    height: 2px;
    
    width: 20%;
  }
 .list-name{
   margin-left: 2%;
   font-size: 18px;
   font-family: 'georgia';
   font-weight: bold; 

 }
 
  